@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* {
  border: 1px limegreen solid;
}
*/

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

@keyframes pingslow {
  50%, 100% {
      transform: scale(2);
      opacity: 0;
  }
}
.pingslow {
  animation: ping 2s cubic-bezier(0, 0, 0.4, 1) infinite;
}